In [218]:
import pandas as pd

In [219]:
import numpy as np

In [220]:
df = pd.read_csv("./2024/Typeform_Responses_2024.csv", low_memory=False)
print("Read the .CSV file.")

Read the .CSV file.

In [221]:
df.size

309120

In [222]:
df.shape

(3360, 92)

In [223]:
set([])

set()

# Field of study

In [224]:
# In this list, the last items has the priority to override
fieldRanking = ['marketing', 'industrial', 'supply chain', 'law', 'chemical', 'finance', 'economic',
     'political', 'business', 'management', 'mba', 'civil', 'physics', 'mechanical', 'material', 'aerospace',
     'electrical', 'electronic', 'computer', 'bio', 'analytics', 'data', 'artificial', 'machine learning']

In [225]:
# Let us see the possible (unique) values as a set, in the given dataset

# fieldString = "Major"
fieldString = "What is your major?"

try:
    set(df[fieldString])
except:
    fieldString = "Major" # capital "Study"
    set(df[fieldString])

In [226]:
names = df[fieldString].unique()[:-1]
# names[0].find('Computer Sciences')
names_cs = [names[i] for i in range(len(names)) if names[i].find('Computer Sciences') != -1]
names_eng = [names[i] for i in range(len(names)) if names[i].find('Engineering') != -1]

In [227]:
names_cs
# for i in range(len(names)):
#     if names[i].find('Computer Science') != -1:
#         print(i)

['Computer Sciences, Computer Science',
 'Computer Sciences, Data Analytics',
 'Computer Sciences, Artificial Intelligence (AI) & Machine Learning (ML)',
 'Computer Sciences, Computer Programming',
 'Computer Sciences, Data Science',
 'Computer Sciences, Software Development',
 'Computer Sciences, Information Systems/Technology Management',
 'Computer Sciences, Computer Systems Analysis',
 'Computer Sciences, Web Design/Development',
 'Computer Sciences, Information Sciences & Systems',
 'Computer Sciences, Combinatorics & Optimization',
 'Computer Sciences, Information Technology',
 'Computer Sciences, Management & Information Systems',
 'Computer Sciences, Digital Media & Design',
 'Computer Sciences, Gaming & Simulation Development',
 'Computer Sciences, Network Security & Cyber Intelligence',
 'Computer Sciences, Database Management',
 'Computer Sciences, Hardware Technology',
 'Computer Sciences, Computer Networking/Administration']

In [228]:
#create new column
mostRelevantField = ["Other"]*len(df)

# for each candidate (row)
for i in range(len(df)): 
    
    # get candidate's fields of study
    fieldsOfCandidate = df.loc[i, fieldString]
    
    if isinstance(fieldsOfCandidate, str):
        # make lowercase if it is a string! 
        fieldsOfCandidate = fieldsOfCandidate.lower()
        
        # for each field (column) in the ranking list
        for wantedColumn in fieldRanking: 

            if wantedColumn in fieldsOfCandidate:
                mostRelevantField[i] = wantedColumn

In [229]:
mostRelevantField

['aerospace',
 'analytics',
 'political',
 'computer',
 'data',
 'Other',
 'machine learning',
 'Other',
 'computer',
 'data',
 'computer',
 'management',
 'computer',
 'computer',
 'computer',
 'computer',
 'business',
 'aerospace',
 'Other',
 'computer',
 'Other',
 'machine learning',
 'physics',
 'business',
 'Other',
 'computer',
 'computer',
 'computer',
 'data',
 'computer',
 'Other',
 'bio',
 'computer',
 'computer',
 'Other',
 'bio',
 'physics',
 'data',
 'Other',
 'machine learning',
 'computer',
 'data',
 'computer',
 'business',
 'data',
 'mechanical',
 'business',
 'mechanical',
 'computer',
 'mechanical',
 'Other',
 'computer',
 'mechanical',
 'data',
 'mba',
 'bio',
 'chemical',
 'data',
 'data',
 'computer',
 'chemical',
 'computer',
 'data',
 'Other',
 'computer',
 'Other',
 'mechanical',
 'computer',
 'computer',
 'computer',
 'computer',
 'computer',
 'mechanical',
 'machine learning',
 'Other',
 'chemical',
 'data',
 'bio',
 'computer',
 'industrial',
 'bio',
 'Other',
 'Other',
 'industrial',
 'physics',
 'data',
 'physics',
 'physics',
 'machine learning',
 'management',
 'management',
 'Other',
 'management',
 'data',
 'electrical',
 'bio',
 'aerospace',
 'Other',
 'computer',
 'business',
 'Other',
 'Other',
 'computer',
 'bio',
 'management',
 'management',
 'management',
 'computer',
 'management',
 'mechanical',
 'computer',
 'aerospace',
 'Other',
 'chemical',
 'machine learning',
 'mba',
 'machine learning',
 'Other',
 'Other',
 'computer',
 'mechanical',
 'computer',
 'mechanical',
 'computer',
 'Other',
 'data',
 'chemical',
 'management',
 'machine learning',
 'management',
 'bio',
 'machine learning',
 'management',
 'computer',
 'Other',
 'machine learning',
 'Other',
 'computer',
 'data',
 'data',
 'economic',
 'industrial',
 'machine learning',
 'bio',
 'machine learning',
 'computer',
 'Other',
 'mechanical',
 'Other',
 'computer',
 'computer',
 'computer',
 'Other',
 'computer',
 'data',
 'computer',
 'computer',
 'bio',
 'bio',
 'Other',
 'Other',
 'Other',
 'machine learning',
 'computer',
 'Other',
 'computer',
 'management',
 'Other',
 'bio',
 'computer',
 'Other',
 'economic',
 'data',
 'industrial',
 'political',
 'chemical',
 'computer',
 'management',
 'Other',
 'Other',
 'Other',
 'management',
 'Other',
 'computer',
 'computer',
 'Other',
 'Other',
 'data',
 'computer',
 'industrial',
 'data',
 'Other',
 'computer',
 'business',
 'economic',
 'computer',
 'computer',
 'data',
 'computer',
 'Other',
 'industrial',
 'data',
 'analytics',
 'Other',
 'data',
 'computer',
 'data',
 'data',
 'Other',
 'computer',
 'machine learning',
 'computer',
 'data',
 'computer',
 'Other',
 'computer',
 'mechanical',
 'computer',
 'data',
 'Other',
 'mechanical',
 'machine learning',
 'management',
 'bio',
 'data',
 'computer',
 'computer',
 'business',
 'material',
 'management',
 'Other',
 'Other',
 'computer',
 'data',
 'computer',
 'machine learning',
 'computer',
 'business',
 'industrial',
 'Other',
 'industrial',
 'Other',
 'bio',
 'business',
 'computer',
 'business',
 'data',
 'Other',
 'computer',
 'data',
 'management',
 'computer',
 'computer',
 'industrial',
 'management',
 'machine learning',
 'mechanical',
 'Other',
 'computer',
 'Other',
 'management',
 'data',
 'computer',
 'computer',
 'computer',
 'computer',
 'computer',
 'machine learning',
 'data',
 'machine learning',
 'computer',
 'computer',
 'industrial',
 'computer',
 'computer',
 'data',
 'data',
 'computer',
 'computer',
 'computer',
 'data',
 'computer',
 'computer',
 'computer',
 'chemical',
 'computer',
 'computer',
 'data',
 'industrial',
 'Other',
 'bio',
 'Other',
 'management',
 'management',
 'computer',
 'electrical',
 'management',
 'computer',
 'management',
 'bio',
 'computer',
 'data',
 'computer',
 'computer',
 'machine learning',
 'management',
 'Other',
 'data',
 'data',
 'Other',
 'physics',
 'physics',
 'physics',
 'Other',
 'bio',
 'management',
 'Other',
 'Other',
 'computer',
 'computer',
 'business',
 'data',
 'physics',
 'Other',
 'chemical',
 'computer',
 'Other',
 'bio',
 'Other',
 'machine learning',
 'chemical',
 'mechanical',
 'machine learning',
 'Other',
 'Other',
 'mechanical',
 'mba',
 'business',
 'bio',
 'bio',
 'computer',
 'Other',
 'computer',
 'Other',
 'computer',
 'business',
 'Other',
 'computer',
 'industrial',
 'computer',
 'Other',
 'chemical',
 'computer',
 'machine learning',
 'business',
 'civil',
 'mechanical',
 'business',
 'management',
 'chemical',
 'bio',
 'Other',
 'Other',
 'Other',
 'computer',
 'chemical',
 'mba',
 'computer',
 'computer',
 'computer',
 'electrical',
 'Other',
 'data',
 'computer',
 'Other',
 'data',
 'data',
 'physics',
 'computer',
 'analytics',
 'computer',
 'Other',
 'computer',
 'data',
 'business',
 'mechanical',
 'data',
 'data',
 'bio',
 'bio',
 'computer',
 'computer',
 'management',
 'Other',
 'management',
 'computer',
 'computer',
 'mechanical',
 'mechanical',
 'Other',
 'bio',
 'physics',
 'Other',
 'material',
 'computer',
 'computer',
 'computer',
 'computer',
 'computer',
 'business',
 'Other',
 'economic',
 'physics',
 'Other',
 'data',
 'data',
 'data',
 'bio',
 'computer',
 'business',
 'Other',
 'physics',
 'industrial',
 'Other',
 'bio',
 'computer',
 'computer',
 'Other',
 'Other',
 'electrical',
 'economic',
 'bio',
 'Other',
 'computer',
 'Other',
 'business',
 'bio',
 'civil',
 'computer',
 'bio',
 'bio',
 'Other',
 'bio',
 'Other',
 'bio',
 'bio',
 'data',
 'Other',
 'bio',
 'Other',
 'data',
 'computer',
 'data',
 'Other',
 'mechanical',
 'mechanical',
 'machine learning',
 'mechanical',
 'machine learning',
 'computer',
 'Other',
 'Other',
 'Other',
 'Other',
 'business',
 'Other',
 'data',
 'mechanical',
 'mechanical',
 'management',
 'Other',
 'management',
 'Other',
 'management',
 'Other',
 'Other',
 'physics',
 'computer',
 'bio',
 'Other',
 'business',
 'business',
 'mba',
 'Other',
 'bio',
 'machine learning',
 'physics',
 'bio',
 'economic',
 'bio',
 'Other',
 'electrical',
 'Other',
 'Other',
 'computer',
 'mechanical',
 'computer',
 'business',
 'physics',
 'Other',
 'bio',
 'Other',
 'Other',
 'bio',
 'economic',
 'bio',
 'data',
 'physics',
 'computer',
 'Other',
 'chemical',
 'business',
 'Other',
 'data',
 'Other',
 'bio',
 'Other',
 'bio',
 'Other',
 'management',
 'Other',
 'computer',
 'Other',
 'aerospace',
 'chemical',
 'chemical',
 'data',
 'machine learning',
 'Other',
 'analytics',
 'computer',
 'material',
 'Other',
 'bio',
 'data',
 'Other',
 'Other',
 'Other',
 'data',
 'computer',
 'Other',
 'management',
 'management',
 'bio',
 'Other',
 'computer',
 'data',
 'mba',
 'data',
 'Other',
 'bio',
 'computer',
 'Other',
 'data',
 'computer',
 'mechanical',
 'physics',
 'Other',
 'computer',
 'business',
 'Other',
 'political',
 'economic',
 'data',
 'computer',
 'business',
 'business',
 'computer',
 'electrical',
 'management',
 'management',
 'data',
 'business',
 'computer',
 'Other',
 'economic',
 'mechanical',
 'business',
 'Other',
 'computer',
 'bio',
 'Other',
 'Other',
 'computer',
 'data',
 'mechanical',
 'computer',
 'data',
 'data',
 'data',
 'mechanical',
 'Other',
 'bio',
 'Other',
 'Other',
 'Other',
 'data',
 'bio',
 'data',
 'Other',
 'bio',
 'Other',
 'bio',
 'mechanical',
 'physics',
 'computer',
 'computer',
 'mba',
 'bio',
 'computer',
 'business',
 'computer',
 'computer',
 'political',
 'mba',
 'data',
 'computer',
 'computer',
 'Other',
 'machine learning',
 'Other',
 'bio',
 'bio',
 'mechanical',
 'computer',
 'Other',
 'management',
 'bio',
 'electrical',
 'Other',
 'data',
 'computer',
 'Other',
 'Other',
 'data',
 'Other',
 'Other',
 'data',
 'business',
 'business',
 'mba',
 'industrial',
 'computer',
 'management',
 'bio',
 'Other',
 'Other',
 'Other',
 'computer',
 'economic',
 'mba',
 'Other',
 'Other',
 'computer',
 'Other',
 'bio',
 'business',
 'Other',
 'computer',
 'electrical',
 'data',
 'computer',
 'bio',
 'computer',
 'management',
 'economic',
 'management',
 'business',
 'Other',
 'computer',
 'machine learning',
 'machine learning',
 'machine learning',
 'computer',
 'industrial',
 'chemical',
 'data',
 'management',
 'computer',
 'Other',
 'management',
 'computer',
 'computer',
 'computer',
 'computer',
 'Other',
 'Other',
 'computer',
 'computer',
 'Other',
 'law',
 'computer',
 'Other',
 'computer',
 'bio',
 'bio',
 'Other',
 'computer',
 'business',
 'computer',
 'management',
 'machine learning',
 'Other',
 'bio',
 'Other',
 'data',
 'computer',
 'computer',
 'Other',
 'computer',
 'machine learning',
 'civil',
 'computer',
 'Other',
 'bio',
 'computer',
 'data',
 'computer',
 'Other',
 'machine learning',
 'computer',
 'computer',
 'computer',
 'data',
 'computer',
 'mechanical',
 'computer',
 'Other',
 'computer',
 'data',
 'mechanical',
 'data',
 'Other',
 'Other',
 'computer',
 'data',
 'computer',
 'Other',
 'computer',
 'computer',
 'computer',
 'computer',
 'computer',
 'Other',
 'machine learning',
 'data',
 'computer',
 'computer',
 'industrial',
 'data',
 'data',
 'data',
 'data',
 'computer',
 'computer',
 'computer',
 'computer',
 'data',
 'Other',
 'management',
 'data',
 'business',
 'business',
 'data',
 'computer',
 'computer',
 'computer',
 'Other',
 'Other',
 'machine learning',
 'computer',
 'computer',
 'Other',
 'computer',
 'computer',
 'computer',
 'computer',
 'management',
 'computer',
 'computer',
 'industrial',
 'industrial',
 'data',
 'data',
 'computer',
 'Other',
 'bio',
 'computer',
 'Other',
 'business',
 'machine learning',
 'Other',
 'Other',
 'Other',
 'material',
 'management',
 'economic',
 'business',
 'mba',
 'machine learning',
 'computer',
 'business',
 'bio',
 'Other',
 'Other',
 'Other',
 'Other',
 'Other',
 'machine learning',
 'chemical',
 'computer',
 'computer',
 'Other',
 'Other',
 'Other',
 'electrical',
 'Other',
 'Other',
 'Other',
 'Other',
 'Other',
 'business',
 'bio',
 'bio',
 'Other',
 'political',
 'computer',
 'Other',
 'Other',
 'Other',
 'bio',
 'Other',
 'bio',
 'business',
 'machine learning',
 'data',
 'data',
 'computer',
 'computer',
 'mechanical',
 'management',
 'Other',
 'Other',
 'machine learning',
 'mechanical',
 'bio',
 'computer',
 'chemical',
 'computer',
 'bio',
 'Other',
 'business',
 'mechanical',
 'electrical',
 'mechanical',
 'machine learning',
 'computer',
 'physics',
 'Other',
 'Other',
 'Other',
 'bio',
 'computer',
 'chemical',
 'chemical',
 'chemical',
 'physics',
 'physics',
 'Other',
 'bio',
 'Other',
 'computer',
 'data',
 'business',
 'Other',
 'mechanical',
 'management',
 'physics',
 'Other',
 'computer',
 'bio',
 'economic',
 'Other',
 'business',
 'machine learning',
 'Other',
 'Other',
 'machine learning',
 'mechanical',
 'Other',
 'machine learning',
 'physics',
 'management',
 'chemical',
 'computer',
 'data',
 'computer',
 'bio',
 'economic',
 'physics',
 'Other',
 'Other',
 'Other',
 'bio',
 'bio',
 'business',
 'Other',
 'Other',
 'industrial',
 'Other',
 'economic',
 'Other',
 'computer',
 'data',
 'computer',
 'business',
 'Other',
 'business',
 'mechanical',
 'Other',
 'Other',
 'computer',
 'data',
 'bio',
 'Other',
 'computer',
 'mechanical',
 'industrial',
 'Other',
 'computer',
 'Other',
 'machine learning',
 'Other',
 'bio',
 'Other',
 'Other',
 'Other',
 'Other',
 'aerospace',
 'computer',
 'industrial',
 'mechanical',
 'business',
 'data',
 'Other',
 'management',
 'business',
 'Other',
 'economic',
 'material',
 'mechanical',
 'management',
 'Other',
 'Other',
 'mechanical',
 'business',
 'Other',
 'economic',
 'Other',
 'computer',
 'electrical',
 'industrial',
 'electrical',
 'computer',
 'mechanical',
 'Other',
 'computer',
 'electrical',
 'computer',
 'physics',
 'electrical',
 'electrical',
 'Other',
 'physics',
 'physics',
 'electrical',
 'Other',
 'aerospace',
 'physics',
 'business',
 'computer',
 'electrical',
 'physics',
 'bio',
 'aerospace',
 'computer',
 'Other',
 'aerospace',
 'computer',
 'mechanical',
 'mechanical',
 'chemical',
 'computer',
 'machine learning',
 'machine learning',
 'machine learning',
 'bio',
 'computer',
 'bio',
 'mba',
 ...]

### For similar field names, use a single (unique) name

In [230]:
fieldSynonyms = {
    "artificial": "AI",
    "machine learning": "AI",
    
    "data": "Data Science",
    "analytics": "Data Science",
    
    "bio": "Biology",
    
    "computer": "CS",
    
    "aerospace": "Aero",
    
    "material": "Materials",
    
    "mechanical": "Mechanical Eng",
    
    "electrical": "Electrical Eng",
    "electronic": "Electrical Eng",
    
    "physics": "Physics",
    
    "civil": "Civil Eng",
    
    "business": "Business",
    "mba": "Business",
    "management": "Business",
    
    "political": "Policital Sci",
    
    "economic": "Finance",
    "finance": "Finance",
    
    "chemical": "Chemistry",
    
    "supply chain": "Industrial Eng",
    "industrial": "Industrial Eng",
    
    "law": "Law",
    
    "marketing": "Marketing",
    
}

In [231]:
replacementCount = 0

# for each candidate
for i in range(len(mostRelevantField)):

    # if the candidate's field is in fieldSynonyms
    if mostRelevantField[i] in fieldSynonyms:

        # replace it with the more common field name
        mostRelevantField[i] = fieldSynonyms[mostRelevantField[i]]
        
        replacementCount = replacementCount+1
      
print(str(replacementCount) + " fields have been renamed!")

2539 fields have been renamed!

In [232]:
df["mostRelevantField"] = mostRelevantField

# University name

In [233]:
#university_q = "What school do you attend?"
#
## List unique university names      
#set(df["What school do you attend?"])
df['University'] = df['What school do you attend?'].combine_first(df['Other'])
set(df['University'])

{'All of the above',
 'American University',
 'Amherst College',
 'Babson',
 'Babson College',
 'Bay Atlantic University',
 'Bentely',
 'Bentley',
 'Bentley Univeristy',
 'Bentley University',
 'Bentley university',
 'Berklee',
 'Bonn',
 'Boston Architectural College',
 'Boston Architectural college',
 'Boston College',
 'Boston University',
 'Brandeis',
 'Brandeis University',
 'Broad Institute',
 'Broad Institute of MIT and Harvard',
 'Brown',
 'Brown U',
 'Brown University',
 'Bunker Hill Community College',
 'CCNY',
 'CFIS-UPC',
 'CMU',
 'Cal state',
 'CalState',
 'Cambridge College',
 'Carnegie Mellon',
 'Carnegie Mellon Business School',
 'Carnegie Mellon University',
 'Central Connecticut State University',
 'Central Michigan University',
 'Centrale',
 'Centre',
 'Champlain College',
 'City College of New york',
 'Clark university',
 'College graduate',
 'Columbia',
 'Columbia University',
 'Constructor University',
 'Cornell',
 'Cornell University',
 'Danylo Halytsky Lviv National Medical Universiry',
 'Dartmouth',
 "Didn't atten, ı am already a university student at European University of Lefke",
 'Drexel University',
 'EPFL',
 'ESMT Berlin',
 'ETH Zurich',
 'Ecole Polytechnique',
 'Emerson',
 'Emmanuel College',
 'Geac',
 'Georgia Institute of Technology',
 'HEC Paris',
 'HULT',
 'Harrisburg University',
 'Harvard',
 'Heidleberg University',
 'Holy Cross',
 'Hult',
 'Hult Business',
 'Hult International Business School',
 'IIT-Kanpur',
 'INTEC',
 'ITICU',
 'Institut Mines Telecom Atlantique',
 'Istanbul Commerce University',
 'Johns Hopkins',
 'Johns Hopkins University',
 'Keene state',
 'Kellogg, Northwestern University',
 'King Abdulaziz University',
 'LSE',
 'Lee University',
 'MCPHS',
 'MCPHS Boston',
 'MCPHS University',
 'MIT',
 'Maastricht',
 'Marmara University',
 'MassArt',
 'Massachusetts Bay Community College',
 'Massachusetts College of Art and Design',
 'Massachusetts College of Pharmacy and Health Sciences - Boston',
 'McGill',
 'Meme',
 'Middlebury',
 'Middlebury College',
 'Moscow state university',
 'Mount Holyoke College',
 'Mount Holyoke college',
 'NECC',
 'NUST',
 'NYU',
 'Na',
 'Nanyang technological university',
 'National Institute of Technology',
 'National and Kapodistrian University of Athens',
 'Negros Oriental State University',
 'New England college',
 'Northeastern',
 'Northeastern University',
 'Northern Essex Community College',
 'Northwestern',
 'Not in school',
 'Olin',
 'Olin College',
 'Olin College of Engineering',
 'Online',
 'Pace University',
 'Pakistan Institute of Engineering and Applied Sciences',
 'Polytechnic University of Puerto Rico',
 'Princeton',
 'Purdue University',
 'RISD',
 'RWTH Aachen',
 'Ramapo College of NJ',
 'Ramapo College of New Jersey',
 'Rhode Island School of Design',
 'Rhode Island school of design',
 'River',
 'Rockefeller University',
 'Rutgers',
 'SOA',
 'SUNY BUFFALO',
 'School of Motion',
 'Sciences Po',
 'Simmons',
 'Simmons University',
 'Smith College',
 'Spaulding Rehabilitation Hospital',
 'Stanford',
 'Stonehill College',
 'Suffolk University',
 'Suffolk University Law School',
 'Syracuse University',
 'TU Delft',
 'Teachers College, Columbia University',
 'Technical University of Madrid',
 'Tepper',
 'Test University',
 'Texas Christian University',
 'The State Univeristy of New York at Buffalo',
 'The State Univerity of New York at Buffalo',
 'The State University of New York',
 'The University of Rhode Island',
 'Thunderbird',
 'Tufts',
 'Tufts Alumnus',
 'Twente University',
 'Tyumen State University',
 'U hart',
 'UEK',
 'UMASS',
 'UMASS Amherst',
 'UMB',
 'UMB Boston',
 'UML',
 'UMass',
 'UMass Amherst',
 'UMass Boston',
 'UMass Lowell',
 'UMassBoston',
 'UPC (BarcelonaTech)',
 'URI',
 'UVM',
 'Umall Lowell',
 'Umass Amherst',
 'Umass Boston',
 'Umass Dartmouth',
 'Universidad Catolica Nuestra Señora de la Asuncion',
 'Universidad Politécnica de Madrid',
 'University at Buffalo',
 'University at Buffalo, State University of New York',
 'University of Alabama at Birmingham',
 'University of Amsterdam',
 'University of California Berkeley',
 'University of Central Florida',
 'University of Colorado, Boulder',
 'University of Dayton',
 'University of Delaware',
 'University of Guelph',
 'University of Hong Kong',
 'University of London',
 'University of Maryland',
 'University of Maryland College Park',
 'University of Massachusetts Amherst',
 'University of Massachusetts Boston',
 'University of Massachusetts lowell',
 'University of Michigan',
 'University of Michigan Ann Arbor',
 'University of Minnesota',
 'University of Navarra',
 'University of New Haven',
 'University of Pennsylvania',
 'University of Pittsburgh',
 'University of Rhode Island',
 'University of Rhode island',
 'University of Rochester',
 'University of South Carolina',
 'University of Southern California',
 'University of Tehran',
 'University of Vermont',
 'University of Vienna',
 'University of Virginia',
 'University of Washington',
 'University of cooperative education Baden-Württemberg',
 'University of new haven',
 'Uri',
 'Utrecht University',
 'Vanderbilt University',
 'Vrije Universiteit Amsterdam',
 'WPI',
 'Warwick University',
 'Wellesley',
 'Wellesley College',
 'Wentworth Institute of Technology',
 'Wesleyan University',
 'Worcester Polytechnic Institute',
 'Work in IT at Harvard University',
 'Wpi',
 'Yale',
 'Yale University',
 'Yeshiva University',
 'ZLC',
 'ain-shams university',
 nan,
 'new york university tandon school of engineering',
 'princeton',
 'stonehill',
 'temple',
 'umass',
 'university of rhode island'}

In [234]:
# In this list, the last items has the priority to override
uniRanking = ['university of connecticut', 'worcester polytechnic', 'wpi',
              'wellesley college', 'university of massachusetts boston', 'dartmouth', 'dartmouth college', 'dartmouth university',
              'brandeis university', 'university of massachusetts amherst', 'boston college', 'tufts', 'tufts university',
              'new york university', 'nyu',
              'hult international', 'hult business', 'boston university', 'northeastern university', 'northeastern',
              'harvard college', 'harvard university',
              'massachusetts institute of technology', 'mit', 'smith college']

In [235]:
#create new column
mostRelevantUni = ["Other"]*len(df)

# for each candidate (row)
for i in range(len(df)): 
    
    # get candidate's fields of study
    #unisOfCandidate = df.loc[i, "What school do you attend?"]
    unisOfCandidate = df.loc[i, "University"]
    
    if isinstance(unisOfCandidate, str):
        # make lowercase if it is a string! 
        unisOfCandidate = unisOfCandidate.lower()
        
        # for each field (column) in the ranking list
        for wantedUniversity in uniRanking: 

            if wantedUniversity in unisOfCandidate:
                mostRelevantUni[i] = wantedUniversity

### For equivalent university names, use a single (unique) name

In [236]:
# In this list, the last items has the priority to override
# uniRanking = ['university of connecticut', 'worcester polytechnic',
#               'wellesley college', 'university of massachusetts boston', 'dartmouth college', 'dartmouth university',
#               'brandeis university', 'university of massachusetts amherst', 'boston college', 'tufts university',
#               'new york university', 'nyu',
#               'hult international', 'hult business', 'boston university', 'northeastern university', 'northeastern',
#               'harvard college', 'harvard university',
#               'massachusetts institute of technology', 'mit', 'smith college']


uniSynonyms = {
    "massachusetts institute of technology": "MIT",
    "mit": "MIT",
    
    "harvard college": "Harvard",
    "harvard university": "Harvard",
    
    "hult international": "Hult Business",
    "hult business": "Hult Business",
    
    "northeastern university": "Northeastern",
    "northeastern": "Northeastern",
    
    "boston university": "BU",
    
    "tufts": "Tufts",
    "tufts university": "Tufts",
    
    "dartmouth": "Dartmouth",
    "dartmouth university": "Dartmouth",
    "dartmouth college": "Dartmouth",
    
    "new york university": "NYU",
    "nyu": "NYU",
        
    "boston college": "Boston College",
    
    "brandeis university": "Brandeis",
    "wellesley": "Wellesley",
    "wellesley college": "Wellesley",
    
    "university of massachusetts amherst": "UMass Amherst",
    
    "university of massachusetts boston": "UMass Boston",
    
    
    "worcester polytechnic": "WPI",
    "wpi": "WPI",
    
    "university of connecticut": "UConn",
    
    "smith college": "Smith"
    
}

In [237]:
replacementCount = 0

# for each candidate
for i in range(len(mostRelevantUni)):

    # if the candidate's field is in fieldSynonyms
    if mostRelevantUni[i] in uniSynonyms:

        # replace it with the more common field name
        mostRelevantUni[i] = uniSynonyms[mostRelevantUni[i]]
        
        replacementCount = replacementCount+1
      
print(str(replacementCount) + " university names have been renamed!")

2464 university names have been renamed!

In [238]:
df["mostRelevantUni"] = mostRelevantUni

In [239]:
#Show the result
pd.set_option('display.min_rows', 6)

df

,#,What is your email?,What is your first name?,What is your last name?,What school do you attend?,Other,What degree program are you currently pursuing?,Other.1,What is your major?,What is your (other) major?,...,utm_source,Response Type,Start Date (UTC),Stage Date (UTC),Submit Date (UTC),Network ID,Tags,mostRelevantField,University,mostRelevantUni
0,4exrzrhgk95itv0xk4exrz6wc7qpkb1l,pkorfuzi@wpi.edu,Peter,Korfuzi,NaN,Worcester Polytechnic Institute,Undergraduate,NaN,"Engineering, Aerospace Engineering",NaN,...,NaN,completed,2024-03-05 3:11:37,NaN,2024-03-05 3:16:30,27ca25c2e0,NaN,Aero,Worcester Polytechnic Institute,WPI
1,ecvt1ow963petev4ecnslf6izfb8nb1t,hrishireddy456@gmail.com,Hrishikesh Reddy,Komandla,Northeastern,NaN,Master's,NaN,"Business & Commerce, Marketing Analytics",NaN,...,insta.ads,completed,2024-03-04 23:24:59,NaN,2024-03-04 23:32:22,f0d0785eb1,NaN,Data Science,Northeastern,Northeastern
2,n7vbdcb9kcznyca9n7vbcqjzu9cbupe2,kendall_clark@brown.edu,Kendall,Clark,NaN,Brown,PhD,NaN,"Liberal Arts, Political Science",NaN,...,NaN,completed,2024-03-04 20:07:01,NaN,2024-03-04 20:09:17,49ab3f2f37,NaN,Policital Sci,Brown,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,vm3krofi6npvtxa1281vm3cbzwdg2zgl,victorqi@mit.edu,Victor,Qin,MIT,NaN,PhD,NaN,"Engineering, Aeronautical Sciences",NaN,...,NaN,completed,2023-11-09 14:56:53,NaN,2023-11-09 14:57:46,2ab733037f,NaN,Other,MIT,MIT
3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Other
3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Other

# Highest degree

In [240]:
degreeRanking = ['high school', 'undergraduate','bachelor',
     'master', 'mba', 'phd', 'doctorate',
     'postdoc',  'post doc', 'md']

In [241]:
# List unique values
# degreeFieldString = "Current degree"
degreeFieldString = 'What degree program are you currently pursuing?'

try:
    set(df[degreeFieldString])
except:
    degreeFieldString = "Current Degree"
    set(df[degreeFieldString])

In [242]:
# List unique degree names
set(df[degreeFieldString])

{'MBA', 'MD', "Master's", 'PhD', 'Postdoctoral', 'Undergraduate', nan}

In [243]:
#create new column
highestDegree = ["Other"]*len(df)

# for each candidate (row)
for i in range(len(df)): 
    
    # get candidate's fields of study
    degreeOfCandidate = df.loc[i, degreeFieldString]
    
    if isinstance(degreeOfCandidate, str):
        # make lowercase if it is a string! 
        degreeOfCandidate = degreeOfCandidate.lower()
        
        # for each field (column) in the ranking list
        for preferredDegree in degreeRanking: 

            if preferredDegree in degreeOfCandidate:
                highestDegree[i] = preferredDegree

In [244]:
degreeSynonyms = {
    "high school": "High school",
    
    "undergraduate": "Bachelors",
    "bachelor": "Bachelors",
    
    "master": "Masters",
    
    "mba": "MBA",
    
    'phd': "PhD",
    'doctorate': "PhD",
    
    "postdoc": "Postdoc",
    "post doc": "Postdoc",
    
    'md': "MD"
}

In [245]:
replacementCount = 0

# for each candidate
for i in range(len(highestDegree)):

    # if the candidate's field is in degreeSynonyms
    if highestDegree[i] in degreeSynonyms:

        # replace it with the more common name
        highestDegree[i] = degreeSynonyms[highestDegree[i]]
        
        replacementCount = replacementCount+1
      
print(str(replacementCount) + " degree names have been renamed!")

3230 degree names have been renamed!

In [246]:
df["highestDegree"] = highestDegree

In [247]:
#Show the result
pd.set_option('display.min_rows', 6)

df

,#,What is your email?,What is your first name?,What is your last name?,What school do you attend?,Other,What degree program are you currently pursuing?,Other.1,What is your major?,What is your (other) major?,...,Response Type,Start Date (UTC),Stage Date (UTC),Submit Date (UTC),Network ID,Tags,mostRelevantField,University,mostRelevantUni,highestDegree
0,4exrzrhgk95itv0xk4exrz6wc7qpkb1l,pkorfuzi@wpi.edu,Peter,Korfuzi,NaN,Worcester Polytechnic Institute,Undergraduate,NaN,"Engineering, Aerospace Engineering",NaN,...,completed,2024-03-05 3:11:37,NaN,2024-03-05 3:16:30,27ca25c2e0,NaN,Aero,Worcester Polytechnic Institute,WPI,Bachelors
1,ecvt1ow963petev4ecnslf6izfb8nb1t,hrishireddy456@gmail.com,Hrishikesh Reddy,Komandla,Northeastern,NaN,Master's,NaN,"Business & Commerce, Marketing Analytics",NaN,...,completed,2024-03-04 23:24:59,NaN,2024-03-04 23:32:22,f0d0785eb1,NaN,Data Science,Northeastern,Northeastern,Masters
2,n7vbdcb9kcznyca9n7vbcqjzu9cbupe2,kendall_clark@brown.edu,Kendall,Clark,NaN,Brown,PhD,NaN,"Liberal Arts, Political Science",NaN,...,completed,2024-03-04 20:07:01,NaN,2024-03-04 20:09:17,49ab3f2f37,NaN,Policital Sci,Brown,Other,PhD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,vm3krofi6npvtxa1281vm3cbzwdg2zgl,victorqi@mit.edu,Victor,Qin,MIT,NaN,PhD,NaN,"Engineering, Aeronautical Sciences",NaN,...,completed,2023-11-09 14:56:53,NaN,2023-11-09 14:57:46,2ab733037f,NaN,Other,MIT,MIT,PhD
3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Other,Other
3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,Other,Other

# Get rid of other columns!

In [248]:
# columnsToStay = ['User ID',
#                  'mostRelevantField',
#                  'mostRelevantUni',
#                  'highestDegree']

columnsToStay = [
                 'mostRelevantField',
                 'mostRelevantUni',
                 'highestDegree']

In [249]:
df = df[columnsToStay]

In [250]:
pd.set_option('display.min_rows', 10)
df

     mostRelevantField mostRelevantUni highestDegree
0                 Aero             WPI     Bachelors
1         Data Science    Northeastern       Masters
2        Policital Sci           Other           PhD
3                   CS           Other     Bachelors
4         Data Science    Northeastern       Masters
...                ...             ...           ...
3355              Aero             MIT           PhD
3356              Aero             MIT           PhD
3357             Other             MIT           PhD
3358             Other           Other         Other
3359             Other           Other         Other

[3360 rows x 3 columns]

# Make it a grouped summary list

In [251]:
# Calculate number of records

colums2group = ['mostRelevantUni', 'mostRelevantField', 'highestDegree']
groupedCandidateNumbers = pd.DataFrame({'count': df.groupby(colums2group).size()})

#Source: https://stackoverflow.com/a/10374456

groupedCandidateNumbers

                                                 count
mostRelevantUni mostRelevantField highestDegree
BU              AI                Bachelors          2
                                  Masters            2
                                  Postdoc            2
                Biology           Bachelors          6
                                  Other              1
...                                                ...
WPI             CS                Masters            1
                Data Science      Masters            1
                Mechanical Eng    Bachelors          1
                Other             Masters            5
Wellesley       Other             Bachelors          1

[286 rows x 1 columns]

In [252]:
groupedCandidateNumbers = groupedCandidateNumbers.rename(index={'ONE': 'one'})

In [253]:
# Reset index for fields

print(groupedCandidateNumbers.index)

groupedCandidateNumbers = groupedCandidateNumbers.reset_index(level=["mostRelevantField"])
groupedCandidateNumbers = groupedCandidateNumbers.reset_index(level=["highestDegree"]) # @ yue

print("\nNew index: \n")

print(set(groupedCandidateNumbers.index))

MultiIndex([(          'BU',             'AI', 'Bachelors'),
            (          'BU',             'AI',   'Masters'),
            (          'BU',             'AI',   'Postdoc'),
            (          'BU',        'Biology', 'Bachelors'),
            (          'BU',        'Biology',     'Other'),
            (          'BU',        'Biology',       'PhD'),
            (          'BU',        'Biology',   'Postdoc'),
            (          'BU',       'Business', 'Bachelors'),
            (          'BU',       'Business',       'MBA'),
            (          'BU',       'Business',   'Masters'),
            ...
            ('UMass Boston',       'Business',       'MBA'),
            ('UMass Boston',       'Business',   'Masters'),
            ('UMass Boston',             'CS', 'Bachelors'),
            ('UMass Boston', 'Electrical Eng', 'Bachelors'),
            (         'WPI',           'Aero', 'Bachelors'),
            (         'WPI',             'CS',   'Masters'),
            (         'WPI',   'Data Science',   'Masters'),
            (         'WPI', 'Mechanical Eng', 'Bachelors'),
            (         'WPI',          'Other',   'Masters'),
            (   'Wellesley',          'Other', 'Bachelors')],
           names=['mostRelevantUni', 'mostRelevantField', 'highestDegree'], length=286)

New index:

{'Wellesley', 'Other', 'Smith', 'NYU', 'Tufts', 'UMass Boston', 'Brandeis', 'Dartmouth', 'WPI', 'BU', 'Northeastern', 'UMass Amherst', 'Harvard', 'Boston College', 'MIT', 'Hult Business'}

In [254]:
print(groupedCandidateNumbers.index)

Index(['BU', 'BU', 'BU', 'BU', 'BU', 'BU', 'BU', 'BU', 'BU', 'BU',
       ...
       'UMass Boston', 'UMass Boston', 'UMass Boston', 'UMass Boston', 'WPI',
       'WPI', 'WPI', 'WPI', 'WPI', 'Wellesley'],
      dtype='object', name='mostRelevantUni', length=286)

In [255]:
groupedCandidateNumbers[~groupedCandidateNumbers.index.duplicated()]

                highestDegree mostRelevantField  count
mostRelevantUni
BU                  Bachelors                AI      2
Boston College          Other                AI      1
Brandeis            Bachelors          Business      2
Dartmouth           Bachelors                AI      1
Harvard                 Other             Other      1
Hult Business             MBA          Business      4
MIT                 Bachelors                AI     78
NYU                 Bachelors                AI      4
Northeastern        Bachelors                AI      6
Other               Bachelors                AI     12
Smith                   Other                CS      1
Tufts                 Masters                AI      1
UMass Amherst       Bachelors                CS      3
UMass Boston              MBA          Business      1
WPI                 Bachelors              Aero      1
Wellesley           Bachelors             Other      1

In [256]:
groupedCandidateNumbers[groupedCandidateNumbers.index.duplicated()]

                highestDegree mostRelevantField  count
mostRelevantUni
BU                    Masters                AI      2
BU                    Postdoc                AI      2
BU                  Bachelors           Biology      6
BU                      Other           Biology      1
BU                        PhD           Biology      1
...                       ...               ...    ...
UMass Boston        Bachelors    Electrical Eng      1
WPI                   Masters                CS      1
WPI                   Masters      Data Science      1
WPI                 Bachelors    Mechanical Eng      1
WPI                   Masters             Other      5

[270 rows x 3 columns]

In [260]:
# Change uni name order

#Wellesley left out 
new_index = ["MIT", "Harvard", "NYU", "Hult Business",
             "Northeastern", "BU", "Tufts", "Dartmouth",
             "Brandeis", "Boston College", 
             #"UMass Amherst", "UMass Boston", "WPI", "UConn", "Other"
             "UMass Amherst", "UMass Boston", "WPI", "Other"
            ]

new_index.reverse()

In [261]:
# Show the difference between sets
list(set(new_index) - set(groupedCandidateNumbers.index))
# list(set(new_index) - set(a for a, b in groupedCandidateNumbers.index))

[]

In [262]:
#groupedCandidateNumbers2 = groupedCandidateNumbers.reindex(new_index)
groupedCandidateNumbersRelisted = groupedCandidateNumbers.loc[new_index]

groupedCandidateNumbersRelisted

# Export as JSON
#groupedCandidateNumbers2.to_json("New_Groups.json", orient='records')

                highestDegree mostRelevantField  count
mostRelevantUni
Other               Bachelors                AI     12
Other                 Masters                AI     13
Other                   Other                AI      1
Other                     PhD                AI      5
Other                 Postdoc                AI      5
...                       ...               ...    ...
MIT                       PhD           Physics     13
MIT                   Postdoc           Physics     26
MIT                 Bachelors     Policital Sci      2
MIT                     Other     Policital Sci      1
MIT                       PhD     Policital Sci      1

[283 rows x 3 columns]

In [263]:
print(set(groupedCandidateNumbersRelisted.index))

{'NYU', 'Tufts', 'Brandeis', 'Dartmouth', 'Harvard', 'WPI', 'BU', 'UMass Amherst', 'Northeastern', 'UMass Boston', 'Hult Business', 'Boston College', 'MIT', 'Other'}

In [264]:
# Reset index
groupedCandidateNumbersRelisted = groupedCandidateNumbersRelisted.reset_index()

groupedCandidateNumbersRelisted

    mostRelevantUni highestDegree mostRelevantField  count
0             Other     Bachelors                AI     12
1             Other       Masters                AI     13
2             Other         Other                AI      1
3             Other           PhD                AI      5
4             Other       Postdoc                AI      5
..              ...           ...               ...    ...
278             MIT           PhD           Physics     13
279             MIT       Postdoc           Physics     26
280             MIT     Bachelors     Policital Sci      2
281             MIT         Other     Policital Sci      1
282             MIT           PhD     Policital Sci      1

[283 rows x 4 columns]

In [265]:
groupedCandidateNumbersRelisted.rename(columns={
    'mostRelevantUni': 'University',
    'mostRelevantField': 'Major',
    'highestDegree': 'Highest degree',
    'count': 'Number of Records'}, 
    inplace=True)

### Remove empty university labels "None"

In [266]:
# # Remove None university
# # This is not necessary

listCurrentYear = groupedCandidateNumbersRelisted #[groupedCandidateNumbersRelisted['University'] != 'Other']

In [267]:
listCurrentYear

    University Highest degree          Major  Number of Records
0        Other      Bachelors             AI                 12
1        Other        Masters             AI                 13
2        Other          Other             AI                  1
3        Other            PhD             AI                  5
4        Other        Postdoc             AI                  5
..         ...            ...            ...                ...
278        MIT            PhD        Physics                 13
279        MIT        Postdoc        Physics                 26
280        MIT      Bachelors  Policital Sci                  2
281        MIT          Other  Policital Sci                  1
282        MIT            PhD  Policital Sci                  1

[283 rows x 4 columns]

# Year

In [268]:
# Add year information as a new column
# Applied to all rows
listCurrentYear['Year'] = '2024'

In [269]:
listCurrentYear.keys()

Index(['University', 'Highest degree', 'Major', 'Number of Records', 'Year'], dtype='object')

In [270]:
pd.set_option('display.min_rows', 1000)


listCurrentYear

    University Highest degree           Major  Number of Records  Year
0        Other      Bachelors              AI                 12  2024
1        Other        Masters              AI                 13  2024
2        Other          Other              AI                  1  2024
3        Other            PhD              AI                  5  2024
4        Other        Postdoc              AI                  5  2024
5        Other            PhD            Aero                  2  2024
6        Other      Bachelors         Biology                 22  2024
7        Other        Masters         Biology                 14  2024
8        Other          Other         Biology                 11  2024
9        Other            PhD         Biology                 17  2024
10       Other        Postdoc         Biology                 35  2024
11       Other      Bachelors        Business                 14  2024
12       Other            MBA        Business                 35  2024
13       Other        Masters        Business                 42  2024
14       Other          Other        Business                 13  2024
15       Other            PhD        Business                  1  2024
16       Other      Bachelors              CS                 64  2024
17       Other        Masters              CS                 32  2024
18       Other          Other              CS                  3  2024
19       Other            PhD              CS                  6  2024
20       Other        Postdoc              CS                  1  2024
21       Other      Bachelors       Chemistry                 10  2024
22       Other        Postdoc       Chemistry                  1  2024
23       Other          Other       Civil Eng                  2  2024
24       Other        Postdoc       Civil Eng                  2  2024
25       Other      Bachelors    Data Science                  7  2024
26       Other            MBA    Data Science                  1  2024
27       Other        Masters    Data Science                 31  2024
28       Other          Other    Data Science                  2  2024
29       Other            PhD    Data Science                  2  2024
..         ...            ...             ...                ...   ...
253        MIT        Masters         Finance                  2  2024
254        MIT            PhD         Finance                  2  2024
255        MIT            MBA  Industrial Eng                  2  2024
256        MIT        Masters  Industrial Eng                  5  2024
257        MIT          Other  Industrial Eng                  2  2024
258        MIT            PhD  Industrial Eng                  1  2024
259        MIT        Postdoc  Industrial Eng                  3  2024
260        MIT        Masters             Law                  1  2024
261        MIT      Bachelors       Materials                  9  2024
262        MIT        Masters       Materials                  3  2024
263        MIT            PhD       Materials                 17  2024
264        MIT        Postdoc       Materials                  6  2024
265        MIT      Bachelors  Mechanical Eng                 54  2024
266        MIT            MBA  Mechanical Eng                  1  2024
267        MIT        Masters  Mechanical Eng                 29  2024
268        MIT          Other  Mechanical Eng                  1  2024
269        MIT            PhD  Mechanical Eng                 13  2024
270        MIT        Postdoc  Mechanical Eng                  8  2024
271        MIT      Bachelors           Other                 51  2024
272        MIT            MBA           Other                  3  2024
273        MIT        Masters           Other                 99  2024
274        MIT          Other           Other                  9  2024
275        MIT            PhD           Other                 55  2024
276        MIT        Postdoc           Other                 36  2024
277        MIT      Bachelors         Physics                 20  2024
278        MIT            PhD         Physics                 13  2024
279        MIT        Postdoc         Physics                 26  2024
280        MIT      Bachelors   Policital Sci                  2  2024
281        MIT          Other   Policital Sci                  1  2024
282        MIT            PhD   Policital Sci                  1  2024

[283 rows x 5 columns]

# Export as CSV and JSON

In [271]:
# Export as CSV
df.to_csv("FP_candidates_2024.csv")

In [272]:
# Export as JSON
listCurrentYear.to_json("FP_Groups_2024.json", orient='records')

In [273]:
print('Done! :)')

Done! :)